.editor {
    background-color: rgb(229, 227, 227);
    height: 400px;
    width: 600px;
    margin: 100px;
    border: 1.5px solid grey;
    border-radius: 5px;
    padding: 2px;
    color: black;
}

.editor:focus {
    border: 3px;
}